.btn-danger-ahead{
    background: url('img/red.png') no-repeat center center/cover;
    color: #fff;
}
.post{
    background: url('img/red.png') no-repeat center center/cover;
    padding: 5px;
    color: #fff;
}
.post a{
    color: #fff;
}
.poster span{
   padding: 0 8px 0 0px;
}
.poster{
    color: #fff;
    display: flex;
    justify-content: space-between;
}
.connect{
    display: flex;
}
.fa-ic{
    margin-right: 10px;
}
/* NAVBAR SECTION */
.navi{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.nav-img img{
    width: 13%;
}
/* DASHBOARD */
ul#tabs-nav {
    display: flex;
    justify-content: center;
}
ul#tabs-nav li {
    list-style: none;
    margin-right: 91px;
}
ul#tabs-nav li a {
    text-decoration: none;
    color: #000;
}
.img-cov{
    width: 100%;
    height: 330px;
}

.kitchen {
    /* display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 30px; */
    display: grid;
    grid-template-columns: repeat(4,auto);
    grid-gap: 3rem;
    margin-top: 60px;
}
.kitchen .int1 {
    width: 288px;
}
img.card-img-top {
    width: 100%;
}

/* FOOTER SECTION */
footer{
    background: url('img/red.png') no-repeat center center/cover;
    color: #fff;
}
.foot{
   display: flex;
   justify-content: space-between;
   padding: 20px;
}
.customer{
    display: flex;
    justify-content: space-between;
}
.cus {
    width: 21%;
}
.fa-foot {
    font-size: 25px!important;
    margin-right: 10px;
}

@media (max-width: 1400px){
    .kitchen {
        display: grid;
        grid-template-columns: repeat(3,auto);
        grid-gap: 1rem!important;
        margin-top: 60px;
    }
    .kitchen .int1 {
        width: 360px;
    }
    .card{
        width: 100%!important;
    }
}